{% extends 'index.html' %}
{% block content %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим из {{ country }}</h1>
    <p class="mb-4">Найдено {{ n }} тур{{ end_of_word }}, от {{ min_price }} до {{ max_price }} и от {{ min_night }} ночей до {{ max_night }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for i, j in tours_dep.items %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ j.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ j.title }}</h2>
            <p class="card-text">{{ j.description }}</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}